:root {
  --rouge: #ff4655;
  --text: "Montserrat", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
a,
li {
  font-family: var(--text);
}

.particle {
  background-color: chartreuse;
  position: absolute;
  z-index: 999;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.8;
  top: 0;
  right: 40%;
}

body {
  background-color: #f0f0f0;
  text-align: center;
  overflow: hidden;
}

.separate {
  background-color: var(--rouge);
  position: absolute;
  z-index: -999;
  transform: rotate(10deg);
  top: -100px;
  right: -1%;
  width: 50%;
  height: 200%;
}

#info {
  background-color: var(--rouge);
  padding: 20px 0px;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  align-self: center;
  justify-self: center;
}

#display {
  justify-self: center;
  align-items: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

#agent-container {
  margin-bottom: 20px;
}

#agent-name {
  font-size: 18px;
  font-weight: bold;
}

img {
  margin-top: 50px;
  width: 300px;
  height: 100%;
}

/* img.bg {
  width: 100%;
  height: auto;
} */

button {
  padding: 10px 20px;
  margin: 30px 0px 10px;
  font-size: 16px;
  background-color: var(--rouge);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--rouge);
}

@media (max-width: 600px) {
  h1 {
    font-size: 20px;
  }

  button {
    width: 100%;
  }
}
